<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review page</title>
</head>
<body>
    <form action="">
    <p>
    <label for="">Review Title</label>
    <input required placeholder="Title of review" type="text" >
    </p>
    <p>
        <label for="">Review Discription</label>
        <textarea required title="a" placeholder="Write Your reviews here" name="" id=""></textarea>
    </p>
    <p >
        <input required placeholder="5" type="radio" name="rate" value="5">5 Star
        <input placeholder="4" type="radio" name="rate" value="4">4 Star
        <input placeholder="3" type="radio" name="rate" value="3">3 Star
        <input placeholder="2" type="radio" name="rate" value="2">2 Star
        <input placeholder="1" type="radio" name="rate" value="1">1 Star
    </p>
    <button type="submit">Send Review</button> 
</form> 
</body>
</html>