<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view-Item</title>
</head>
<body>
    <div>
        <div>
            <img src="/static/{{item_data[5]}}" alt="">
        </div>
        <div>
            <h4>{{item_data[0]}}</h4>
            <h4>{{item_data[1]}}</h4>
            <p>{{item_data[2]}}</p>
            <h4>{{item_data[3]}}</h4>
            <h4>{{item_data[4]}}</h4>
            <h4>{{item_data[6]}}</h4>
        </div>

    </div>
</body>
</html>