<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='welcome.css')}}">
    <title>Welcome page</title>
</head>
<body>
    <div class="parent">
        <h1>Welcome Welcome!!!</h1>
        <h3>Ready to start shopping?
            Browse our latest arrivals, and don’t forget to sign up for exclusive member perks!</h3>
        <a href="{{url_for('panel')}}">
            <button class="button">home</button>
        </a> 
    </div>
</body>
</html>